Babel
certifi
chardet
click
coreapi
coreschema
coverage
debtcollector
Django
django-braces
django-cors-headers
django-debug-toolbar
django-extensions
django-filter
django-rest-swagger
django-shotgun
djangorestframework
djangorestframework-gis
drf-extensions
drf-hal-json
drf-nested-fields
factory-boy
Faker
first
idna
iso8601
itypes
Jinja2
keystoneauth1
Markdown
MarkupSafe
monotonic
msgpack-python
netaddr
netifaces
openapi-codec
oslo.config
oslo.i18n
oslo.serialization
oslo.utils
packaging
pbr
pip-review
pip-tools
positional
psycopg2-binary
pyparsing
pyslack-real
python-dateutil
python-keystoneclient
python-swiftclient
pytz
PyYAML
requests
rfc3986
sentry-sdk
simplejson
six
sphinx-me
sqlparse
stevedore
swift
tqdm
uritemplate
urllib3
wrapt
